Package: kmod-cfg80211
Version: 4.4.79+2017-01-31-2
Depends: kernel (=4.4.79-1-609f271a1766db3ec91441882d30007c), iw
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: mips_24kc
Installed-Size: 130230
Description:  cfg80211 is the Linux wireless LAN (802.11) configuration API.
