Package: kmod-ath9k-common
Version: 4.4.79+2017-01-31-2
Depends: kernel (=4.4.79-1-609f271a1766db3ec91441882d30007c), kmod-ath
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: mips_24kc
Installed-Size: 126472
Description:  Atheros 802.11n wireless devices (common code for ath9k and ath9k_htc)
